# eclipse project file
.settings/
.classpath
.project

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Log file
*.log

# Gradle

.gradle
/build/
/bin/


# Avoid ignoring Gradle wrapper jar file 
!gradle-wrapper.jar

# Cache of project
.gradletasknamecach

